{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {},
  "extends": [
    "@fiverr/eslint-config-fiverr/rules/base",
    "@fiverr/eslint-config-fiverr/rules/es6",
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  },
  "overrides": [
    {
      "files": [ "**/spec.js" ],
      "env": {
        "jest": true
      }
    },
    {
      "files": [ "fixtures/*" ],
      "rules": {
        "quotes": 0
      },
    }
  ]
}
